<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Dashboard</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/estudiante/dashboard">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Widgets -->
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="body">
            <div class="row align-items-center">
              <div class="col-md-12">
                <h4>
                  <div class="weight-600 col-pink pt-1">Bienvenido al Sistema!! </div>
                </h4>
                <p class="font-15 max-width-600">Aqui puedes revisar tus cursos o registrarse en un curso</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>
