<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17">
                        {{dialogTitle}}</div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="cursoForm" (ngSubmit)="submit">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" >
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Codigo</mat-label>
                        <input matInput formControlName="codigo" required>
                        <mat-icon matSuffix>person</mat-icon>
                        <mat-error *ngIf="cursoForm.get('codigo').hasError('required')">
                            Codigo requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" >
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre" required>
                        <mat-icon matSuffix>person</mat-icon>
                        <mat-error *ngIf="cursoForm.get('nombre').hasError('required')">
                            Nombre requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" >
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Creditos</mat-label>
                        <input matInput formControlName="creditos" required>
                        <mat-icon matSuffix>person</mat-icon>
                        <mat-error *ngIf="cursoForm.get('creditos').hasError('required')">
                            creditos requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" >
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Descripcion</mat-label>
                        <input matInput formControlName="descripcion" required>
                        <mat-icon matSuffix>person</mat-icon>
                        <mat-error *ngIf="cursoForm.get('descripcion').hasError('required')">
                            descripcion requerido
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" *ngIf="this.action !== 'edit'" [type]="submit"
                            [disabled]="!cursoForm.valid" 
                            (click)="confirmAdd()">Guardar</button>
                        <button mat-raised-button color="primary" *ngIf="this.action === 'edit'" [type]="submit"
                            [disabled]="!cursoForm.valid" 
                            (click)="confirmUpdate()">Actualizar</button>
                        <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancelar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>