<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17">
                        {{dialogTitle}}</div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" >
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Codigo</mat-label>
                    <input matInput [value]="curso.codigo" disabled>
                </mat-form-field>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" >
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput [value]="curso.nombre" disabled>
                </mat-form-field>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" >
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Creditos</mat-label>
                    <input matInput [value]="curso.creditos" disabled>
                </mat-form-field>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" >
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>descripcion</mat-label>
                    <input matInput [value]="curso.descripcion" disabled>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <div class="example-button-row">
                    <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cerrar Detalle</button>
                </div>
            </div>
        </div>
    </div>
</div>